@model Plumbery.UI.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Profile";
    ViewBag.Description = "";
}
@section Styles{
    <style>
        .Post-Content{
            max-height:450px;
            overflow-y:scroll;
        }
    </style>
    }
<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile text-center">
                <i class="fa fa-4x fa-user"></i>

                <h3 class="profile-username text-center">@Model.User.FullName</h3>

                <p class="text-muted text-center">@Model.Role</p>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#activity" data-toggle="tab">Inventory</a></li>
                <li><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="activity">
                    <div class="Post-Content">
                        @foreach (var item in Model.Inventory) {
                        <!-- Post -->
                            <div class="post">
                                <div class="user-block">
                                    <i class="fa fa-2x fa-gear"></i>
                                    <span class="username">
                                        <a href="#">@item.Material.StockCode</a>
                                        <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                                    </span>
                                    <span class="description">Last Modified - @item.DateModified.ToString("h:mm tt ddd MMM yyyy")</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    @item.Material.StockDescription
                                </p>
                                <ul class="list-inline">
                                    <li>
                                        <b>Warehouse</b> @item.Warehouse.Name
                                    </li>
                                    <li>
                                        <b>Quantity</b> @item.Quantity
                                    </li>
                                </ul>
                            </div>
                    <!-- /.post -->
                        }
                    </div>                   
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                        <p class="text-success">@ViewBag.StatusMessage</p>
                        <h4>Change your account settings</h4>
                        <div class="form-group">
                            <label for="changePassword" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                @Html.ActionLink("Change your password", "ChangePassword",null,new { @class="btn btn-flat btn-primary",@id="changePassword" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">External Logins:</label>
                            <div class="col-sm-10">
                                @Model.Logins.Count @Html.ActionLink("Manage", "ManageLogins",null, new { @class="btn btn-flat btn-primary" })
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
