@using Plumbery.UI.MVC.Models
@model Plumbery.UI.MVC.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.Description = "External Log In";
}
<div class="register-box">
    <div class="register-logo">
        <a href="#" onclick="location.href='@Url.Action("Index","Home",null)'"><b>Plumbery</b>Admin</a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Register</p>

        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(m=>m.Email)
            <div class="form-group has-feedback">
                <p class="text-info">
                    You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                    Please enter additional for this site below and click the Register button to finish
                    logging in.
                </p>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "UserName" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary pull-right btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
        }
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
