@model List<Plumbery.Domain.Entities.Plumber>
@{
    ViewBag.Title = "Plumber";
    ViewBag.Description = "List All";
}
<div class="box">
    <div class="box-header">
        Table of plumbers
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="ListTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date Registered</th>
                    <th>Warehouse</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.User.FirstName</td>
                        <td>@item.User.LastName</td>
                        <td>@item.User.DateRegistered.ToString("dd.MM.yyyy")</td>
                        <td>@item.Warehouse.Name</td>
                        <td>
                            @using (Html.BeginForm("Create", "Plumber", FormMethod.Get)) {
                                <input type="hidden" value="@item.Id" name="plumberId" id="plumberId" />
                                <button type="submit" class="btn btn-flat btn-success"><i class="fa fa-plus"></i></button>
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("Edit", "Plumber", FormMethod.Get)) {
                                <input type="hidden" value="@item.Id" name="plumberId" id="plumberId" />
                                <button type="submit" class="btn btn-flat btn-warning"><i class="fa fa-pencil"</button>
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("Delete","Plumber",FormMethod.Post)) {
                                <input type="hidden" value="@item.Id" name="plumberId" id="plumberId"/>
                                <button type="submit" class="btn btn-flat btn-danger"><i class="fa fa-times"></i></button> 
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/Content/js/plugins/Datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/plugins/Datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/js/plugins/Datatables/dataTables.Responsive.js"></script>
    <script>
        $(function () {
            $("#ListTable").DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "scrollX": true,
                "responsive": true
            });
        });
    </script>
}