@using Plumbery.Domain.Entities
@model List<Inventory>
@{
    ViewBag.Title = "LowStock";
    var plumber = ViewBag.Plumber as Plumber;
    var supervisor = ViewBag.Supervisor as Supervisor;
}
@section Styles{
    <style>
        #ListTable_filter label {
            float: right;
        }

        #ListTable_paginate {
            float: right;
        }
    </style>
}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">@if (plumber != null) { 
            <text>@(plumber.User.FullName + "'s " + "Low Stock")</text> 
        } else {
             <text>All Low Stock</text> 
        } </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="ListTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Stock Code</th>
                    <th>Stock Description</th>
                    <th>Warehouse</th>
                    <th>Date Added</th>
                    <th>Date Modified</th>
                    <th>Modified BY</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Material.StockCode</td>
                        <td>@item.Material.StockDescription</td>
                        <td>@item.Warehouse.Name</td>
                        <td>@item.DateAdded.ToString("dd, MMM yyyy")</td>
                        <td>@item.DateModified.ToString("dd, MMM yyyy")</td>
                        <td>@item.ModifiedBy</td>
                        <td>@item.Quantity</td>
                        <td>@item.Material.Cost</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/Content/js/plugins/Datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/plugins/Datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/js/plugins/Datatables/dataTables.Responsive.js"></script>
    <script>
        $(function () {
            $("#ListTable").DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "scrollX": true,
                "responsive": true
            });
        });
    </script>
}