@model Plumbery.UI.MVC.Models.CommentItemModel
<div class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <h4>Add Comment</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(m => m.Metric, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Metric, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @Html.HiddenFor(m => m.TimeSheetCode, new { Value = Model.TimeSheetCode })
            <div id="commentLoader" class="loader hidden pull-left"></div>
            <button type="button" id="SaveComment" style="margin:5px; width:50%" class="btn btn-flat btn-primary pull-right">Add Comment</button>
        </div>
    </div>
</div>